pytest==7.4.3
black==23.11.0
selenium==4.15.2
webdriver-manager==4.0.1
beautifulsoup4==4.12.2
requests==2.31.0
lxml==4.9.3
googlesearch-python==1.2.3
urllib3==2.0.7
certifi==2023.7.22
soupsieve==2.5
charset-normalizer==3.3.2
idna==3.4
